.in_app_shortcuts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav_short{
    padding: 10px;
}

#nav_short_img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}

#nav_short_ref{
    text-decoration: none;
    color: black;
}

#nav_short_ref:hover{
    text-decoration: underline;
}

.google-heading{
    display: flex;
    justify-content:center;
    margin-top: 17%;
}

#G{
font-size: 80px;
padding: 5px;
color: rgb(66,133,244);
font-family: 'Josefin Sans', sans-serif;
}

#O{
    font-size: 80px;
    padding: 5px;
   color:rgb(219,68,55);
   font-family: 'Josefin Sans', sans-serif;
}
#o{
    font-size: 80px;
    padding: 5px;
    color: rgb(244,160,0);
    font-family: 'Josefin Sans', sans-serif;
}
#g{
    font-size: 80px;
    padding: 5px;
    color: rgb(66,133,244);
    font-family: 'Josefin Sans', sans-serif;
}
#L{
    font-size: 80px;
    padding: 5px;
    color: rgb(15,157,88);
    font-family: 'Josefin Sans', sans-serif;
}
#E{
    font-size: 80px;
    padding: 5px;
    color:rgb(219,68,55);
    font-family: 'Josefin Sans', sans-serif;
}

.search-bar{
    /* display: block;*/
    margin-left: 19%; 
    width: 40%; 
            margin-bottom: 10px;
}

::placeholder{
    color: rgba(122, 123, 125,0.7);
    /* text-align: left; */
    margin-left: 10%;

}


#search-bar-input{
width: 500px;
height: 20px;
border-radius:20px;
text-align: center;
padding: 10px;
box-shadow: 2px 2px rgba(79, 78, 77,0.2);
border: transparent;
}

.search-bar i{
    position: absolute;
}

input:focus{
    outline: none;
}

#icons{ 
    padding: 10px; 
    /* color: green;  */
    min-width: 50px; 
    text-align: center; 
    margin-top: 1px;
    display: flex;
    justify-content: center;
    margin-right: 7px;
}

.shortcuts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 31%;
    margin-right: 28%;

}

#short_cut_app{
    border: transparent;
    margin-top: 30px;
    padding: 5px;
    border-radius:  100%;
    width: 50px;
    justify-content: center;
    margin-right: 10px;
    height: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255);
    box-shadow: 3px 3px rgba(212, 210, 207,0.5);
    

}

#shortcut_icons{
    width: 40px;
    margin-left: 7%;
    margin-top:20%;
    /* display: flex;
    justify-content: center; */

}

/* #center{
    display: block;
    margin-left: auto;
    margin-right: auto;
} */



.shortcut_name{
     margin-top: 8px;
     font-size: 15px;
     padding: 10px;
     display: flex;
     justify-content: center;
}